
@{
    ViewBag.Title = "ShowData";
    var name = TempData["Name"];
    var age = TempData["Age"];

    var address = TempData["Address"];

}

<h2>Student Information</h2>
<h2>Name: @name</h2>
<h2>Age: @age</h2>
<h2>Address: @address</h2>

